---
import type { Props } from "@astrojs/starlight/props";
import LogoBlack from "@assets/selenite-logo-black.svg";
import LogoWhite from "@assets/selenite-logo-white.svg";

const { siteTitleHref } = Astro.props;
---

<div class="sl-flex site-title">
  <a href={import.meta.env.SIMPLIFIED_URL}>
    {
      (
        <>
          <img
            class="light:sl-hidden"
            alt="Selenite Logo"
            src={LogoWhite.src}
          />
          <img class="dark:sl-hidden" alt="Selenite Logo" src={LogoBlack.src} />
        </>
      )
    }
  </a>
  <a href={siteTitleHref}> <span>Docs</span> </a>
  <!-- <a href={import.meta.env.ADVANCED_URL}>Advanced</a> -->
</div>

<style>
  .site-title {
    align-items: center;
    gap: var(--sl-nav-gap);
    overflow: visible;

    a {
      font-size: var(--sl-text-h4);
      font-weight: 600;
      color: var(--sl-color-text-accent);
      text-decoration: none;
      white-space: nowrap;
      transition: all 0.2s ease;

      &:hover:has(span) {
        transform: translateY(-1px);
      }
      &:hover:has(img) {
        filter: light-dark(invert(0.3), brightness(0.8));
      }
    }
  }

  img {
    height: calc(var(--sl-nav-height) - 3.5 * var(--sl-nav-pad-y));
    width: 4.85rem;
    max-width: 100%;
    object-fit: contain;
    object-position: 0 50%;
  }
</style>
